@charset "utf-8";

/*==============================================================================
  タイトル: 基本レイアウトスタイル(エラスティックレイアウト)
  著者    : Original Coding by Fumito Arakawa as Phize (http://phize.net/)  Accessibility Modifid by Masuko koeda as みるく(http://white-stage.com/)
  説明    : サイトの基本となるレイアウトです。
            Geeklogとの整合性を図る為に、このCSSファイルを含む全てのHTML/CSSファイルにおいて、
            該当する要素について、敢えて「左ブロック」、「中央ブロック」、「右ブロック」と命名しています。

            JavaScriptが有効な場合は、Geeklogのカラム数に応じて、HTMLのbody要素に下記のclass属性値が指定されます。
              ・「js_on」が常に指定されます。
              ・3カラム(左ブロック・中央ブロック・右ブロック)時は「left-center-right」が指定されます。
              ・2カラム(左ブロック・中央ブロック)時は「left-center」が指定されます。
              ・2カラム(中央ブロック・右ブロック)時は「center-right」が指定されます。
              ・1カラム(中央ブロック)時は「center」が指定されます。

            JavaScriptが無効な場合は、Geeklogのカラム数に関わらず、HTMLのbody要素のclass属性値は常に一定です。
              ・「js_off」のみが常に指定されています。

            各ブロックの幅は下記の通りです。
              ・サイト全体の幅[W] = 70em
              ・左ブロックの幅[L] = 12.5em
              ・右ブロックの幅[R] = 12.5em
              ・中央ブロックの幅(3カラム) = 44.5em
              ・中央ブロックの幅(2カラム) = 57em
              ・中央ブロックの幅(1カラム) = 69.8em
  適用先  : header.thtml, footer.thtml, leftblocks.thtml, rightblocks.thtml
==============================================================================*/



/*--------------------------------------
  コンテナ
    全てのブロックレベル要素(div#header, div#navigation, div#wrapper, div#footer)を包含します。
--------------------------------------*/

div#container {
  position: relative;
  width: 71em;  
  min-width: 37.5em; 
  margin: 20px auto;
  padding: 0;
  background: #af9b83;
  font-size: 1em; 
  text-align: left;
}



/*--------------------------------------
  ヘッダコンテナ
--------------------------------------*/

div#container div#header {
  position: relative;
  width: 70em;  /* サイト全体の幅[W] */
  height: 7.5em;
  margin: 0 0.5em 0.5em;
  padding: 0;
  background: #bff691;
  border-top: 0.5em solid #af9b83;
}

/*-- IE6用 --*/
* html div#container div#header {
  margin: 0 0 0.5em 1.1em;
}

* html body.left-center div#container div#header {
  margin: 0 0.5em 0.5em;
}

/* サイト名 */
div#container div#header h1.site_name {
  display: inline;  /* Win IE 6用(フロートの左右マージンが指定値より大きくなる) */
  margin: 0 0 0 10px;
  padding: 0;
  float: left;
}

/* スローガン */
div#container div#header p.site_slogan {
  margin: 0;
  padding: 1em 1em 0;
  color: #000000;
  text-align: right;
}

/* ウェルカムメッセージ */
div#container div#header p.welcome_msg {
  margin: 3.5em 0 0 2em;
}

/* ウェルカムメッセージのリンク */
div#container div#header p.welcome_msg a,
div#container div#header p.welcome_msg a:link,
div#container div#header p.welcome_msg a:visited {
}

div#container div#header p.welcome_msg a:hover,
div#container div#header p.welcome_msg a:focus,
div#container div#header p.welcome_msg a:active {
}


/*--------------------------------------
  グローバルナビゲーションコンテナ
--------------------------------------*/

div#container div#navigation {
  width: 69em;
  height: 1.5em;
  margin: 0 0.5em;
  padding: 0.5em 0.5em;
  background:#f8efcf;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  text-align: left;
}

/*-- IE6用 --*/
* html div#container div#navigation {
  margin: 0 0 0.5em 1.1em;
}

* html body.left-center div#container div#navigation {
  margin: 0 0.5em 0.5em;
}

/* ナビゲーションメニューリスト */
div#container div#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#container div#navigation ul li {
  display: inline;
  margin: 0 0.125em;
  padding: 0;

}

/* ナビゲーションメニュー(通常) */
div#container div#navigation ul li.menuitem {
  margin-left: 1.5em;
}

div#container div#navigation ul li.menuitem a,
div#container div#navigation ul li.menuitem a:link,
div#container div#navigation ul li.menuitem a:visited {
  padding: 0.3em;
}

div#container div#navigation ul li.menuitem a:hover,
div#container div#navigation ul li.menuitem a:focus,
div#container div#navigation ul li.menuitem a:active {
}

/* ナビゲーションメニュー(最後) */
div#container div#navigation ul li.last-child {
}

div#container div#navigation ul li.last-child a,
div#container div#navigation ul li.last-child a:link,
div#container div#navigation ul li.last-child a:visited {
}

div#container div#navigation ul li.last-child a:hover,
div#container div#navigation ul li.last-child a:focus,
div#container div#navigation ul li.last-child a:active {
}



/*--------------------------------------
  ラッパー
    コンテンツとなるブロックレベル要素(div#leftblocks, div#carrier, div#centerblocks, div#rightblocks)を包含します。
--------------------------------------*/

div#container div#wrapper {
  overflow: hidden;  /* 浮動要素の調整用 */
  width: 70em;
  margin: 0.5em;
  padding: 1em 0 2em 0;
}

/* 内容生成によってfloatを解除 */
div#container div#wrapper:after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
}

/* Win IE 6以下用(浮動要素の調整) { \*/
* html div#container div#wrapper {
  height: 1%;
  overflow: visible;
}
/* } Win IE 6以下用(浮動要素の調整) */

/* JavaScript有効・3カラム(左ブロック・中央ブロック・右ブロック)時のラッパー */
body.left-center-right div#container div#wrapper {
  float: left;
  padding: 0;
}

/* JavaScript有効・2カラム(左ブロック・中央ブロック)時 */
body.left-center div#container div#wrapper {
  width: 70em;
  padding: 0;
}

/* 2カラム(中央ブロック・右ブロック)時 */
body.center-right div#container div#wrapper {
  width: 70em;
  padding: 0;
}

/*1カラム(中央ブロック)時のラッパー */
body.center div#container div#wrapper {
  width: 70em;
  padding: 0;
}

/* JavaScript無効時のラッパー */
body.js_off div#container div#wrapper {
  float: left;
  padding: 0;
}

/*--------------------------------------
 carrier(中央ブロック=div#centerblocksと左ブロック=div#leftblocksを包含します)
--------------------------------------*/

/* JavaScript有効・3カラム(左ブロック・中央ブロック・右ブロック)時のcarrier */
body.left-center-right div#container div#wrapper div#carrier {
  float: left;
  width: 57.3em;
}

/* JavaScript有効・2カラム(左ブロック・中央ブロック)時と1カラム(中央ブロック)時のcarrier */
body.left-center div#container div#wrapper div#carrier,
body.center div#container div#wrapper div#carrier {
  width: 70em;
}

/* JavaScript有効・2カラム(中央ブロック・右ブロック)時のcarrier */
body.center-right div#container div#wrapper div#carrier {
  float: left;
  width: 57.3em;
}

/* JavaScript無効時のcarrier */
body.js_off div#container div#wrapper div#carrier {
  float: left;
  width: 57.3em;
}



/*--------------------------------------
  左ブロックコンテナ
    div#leftblocksは、左ブロックがない場合には表示されません。
--------------------------------------*/

div#container div#wrapper div#carrier div#leftblocks {
  float: left;
  width: 12.5em;  /* 左ブロックの幅[L] */
  background: #ceedfc;
}

/*-- JavaScript有効・2カラム(左ブロック・中央ブロック)時の左ブロックコンテナ --*/
body.left-center div#container div#wrapper div#carrier div#leftblocks {
  float: left;
  width: 12.5em;
  background: #ceedfc;
}

/*-- JavaScript無効時の左ブロックコンテナ --*/
body.js_off div#container div#wrapper div#carrier div#leftblocks {
  float: left;
  width: 12.5em;
  background: #ceedfc;
}



/*--------------------------------------
  中央ブロックコンテナ
    div#centerblocksは、基本的には常に表示されます。
--------------------------------------*/

div#container div#wrapper div#carrier div#centerblocks {
  width: 57.3em;
  background: #ffffff;
}

/*IE6用ハック*/
* html div#container div#wrapper div#carrier div#centerblocks {
  overflow: auto;
}

/* JavaScript有効・3カラム(左ブロック・中央ブロック・右ブロック)時の中央ブロックコンテナ */
body.left-center-right div#container div#wrapper div#carrier div#centerblocks {
  float: right;
  width: 44.5em;
  background: #ffffff;
}

/* JavaScript有効・2カラム(左ブロック・中央ブロック)時の中央ブロックコンテナ */
body.left-center div#container div#wrapper div#carrier div#centerblocks {
  float: right;
  width: 57em;
  background: #ffffff;
}

/* JavaScript有効・2カラム(中央ブロック・右ブロック)時の中央ブロックコンテナ */
body.center-right div#container div#wrapper div#carrier div#centerblocks {
  float: left;
  width: 57em;
  background: #ffffff;
}

/* JavaScript有効・1カラム(中央ブロック)時の中央ブロックコンテナ */
body.center div#container div#wrapper div#carrier div#centerblocks {
  width: 69.8em;
  background: #ffffff;
}

/* JavaScript無効時の中央ブロックコンテナ */
body.js_off div#container div#wrapper div#carrier div#centerblocks {
  float: right;
  width: 44.5em;
  background: #ffffff;
}



/*--------------------------------------
  右ブロックコンテナ
    div#rightblocksは、右ブロックがない場合には表示されません。
--------------------------------------*/

div#container div#wrapper div#rightblocks {
  float: right;
  width: 12.4em;  /* 右ブロックの幅[R] */
  background: #ceedfc;
}

/* JavaScript有効・2カラム(中央ブロック・右ブロック)時の右ブロックコンテナ */
body.center-right div#container div#wrapper div#rightblocks {
  float: right;
  width: 12.5em;  /* 右ブロックの幅[R] */
  background: #ceedfc;
}

/* JavaScript無効時の右ブロックコンテナ */
body.js_off div#container div#wrapper div#rightblocks {
  float: right;
  width: 12.5em;
  background: #ceedfc;
}



/*--------------------------------------
  フッタコンテナ
--------------------------------------*/

div#container div#footer {
  position: relative;
  clear: left;
  width: 70em;
  margin: 0 0.5em;
  padding-top: 1em;
  padding-bottom: 2em;
  border-bottom: 0.5em solid #af9b83;
  background: #a0cf7b;
  color: #000000;
  text-align: center;
}

/*-- IE6用 --*/
* html div#container div#footer {
  margin: 0 0 0.5em 1.1em;
}

* html body.left-center div#container div#footer {
  margin: 0 0.5em 0.5em;
}

/* フッタリンク */
div#container div#footer a,
div#container div#footer a:link,
div#container div#footer a:visited {
  color: #000000;
}

div#container div#footer a:hover,
div#container div#footer a:focus,
div#container div#footer a:active {
  color: #000099;
}

/* フッタリスト */
div#container div#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#container div#footer ul li {
  margin: 0;
  padding: 0;
}

/* validate表示 */
div#container div#footer p.validate {
  float: left;
  margin-left: 28em;
}

div#container div#footer p.validate a:hover,
div#container div#footer p.validate a:focus,
div#container div#footer p.validate a:active {
  background: transparent;
}

/* IE6以下用 validate表示 */
* html div#container div#footer p.validate {
  float: left;
  margin-left: 14em;
}

div#container div#footer p.validate img {
  margin-right: 1em;
}

/* ページの先頭へ戻る */
div#container div#footer p.back {
  float: right;
  margin-right: 2em;
  padding-left: 20px;
  background: url(../images/css/icon_pagetop.png) no-repeat 0 0;
  text-align: right;
}

/* コピーライト表示 */
div#container div#footer ul {
  clear: both;
}

div#container div#footer ul li.copyright_notice {
}

div#container div#footer ul li.copyright_notice address {
  font-style: normal;
}

/* パワードバイ表示 */
div#container div#footer ul li.powered_by {
}

/* ページ作成時間 */
div#container div#footer ul li.execution_textandtime {
}
