@charset "utf-8";

/*==============================================================================
  タイトル: 共通スタイル(管理者ページ)
  著者    : Fumito Arakawa as Phize (http://phize.net/)
  説明    : 共通スタイル(管理者ページ)です。
  適用先  : admin/, admin/common/
==============================================================================*/



/*--------------------------------------
  共通スタイル
--------------------------------------*/

div#admin-instructions {
  overflow: hidden;  /* 浮動要素の調整用 */
  margin: 0 0 1em 0;
  padding: 0;
}

/* 内容生成によってfloatを解除 */
div#admin-instructions:after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
}

/* Win IE 6以下用(浮動要素の調整) { \*/
* html div#admin-instructions {
  height: 1%;
  overflow: visible;
}
/* } Win IE 6以下用(浮動要素の調整) */

/* アイコン */
div#admin-instructions img {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
  width: 48px;
  height: 48px;
}

/* ナビゲーション */
div#admin-instructions p#menu_fields:before {
  content: "[";
}

div#admin-instructions p#menu_fields:after {
  content: "]";
}

div#admin-instructions p {
  margin: 0;
  padding: 0;
}



/*--------------------------------------
  パーミッションスタイル
--------------------------------------*/

table#admin-permissions {
  margin: 0 0 0.5em 0;
}

table#admin-permissions th {
  padding: 4px;
  border: 1px solid #ffffff;
  background: #dae0ed;
  text-align: left;
}

table#admin-permissions td {
  padding: 4px;
  border: 1px solid #ffffff;
  background: #f7f7f7;
  font-weight: bold;
  text-align: center;
}
