@charset "utf-8";

/*==============================================================================
  タイトル: インポート用スタイルシート(プラグイン)
  著者    : dengen - Yoshinori Tahara (http://www.trybase.com/~dengen/log/)  Accessibility Modifid by Masuko koeda as みるく(http://white-stage.com/)
  説明    : Professionalで定義されているスタイルです。
            Professional向けにスタイルを調整されたプラグインの表示を、
            より適正に近づけます。
==============================================================================*/


/* Forms **********************************************************************/
.form-description {
  font-weight: bold;
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 5px;
  display: block;
}

.form-field {
  padding-bottom: 5px;
  margin-left: 105px;
}

.checkboxes-list span {
  /* space between the text and the checkbox */
  padding-left:5px;
}

/* general alignment classes **************************************************/
.alignleft {
  text-align: left;
}
.alignright {
  text-align: right;
}
.aligncenter {
  text-align: center;
}
.aligntop {
  vertical-align: top;
}
.floatright {
  float: right;
  padding: 5px;
}
.floatleft {
  float: left;
  padding: 5px;
}
.clearboth {
  clear: both;
}

/* general formatting classes *************************************************/
.b {
  font-weight:bold;
}
.ext-link {
  background-color: transparent;
  background: url(./images/external.png) center right no-repeat;
  background-attachment: scroll;
  padding-right: 13px;
}
.ext-link-rtl {
}
.feed-link {
  background-color: transparent;
  background: url(./images/feed.png) center right no-repeat;
  background-attachment: scroll;
  padding: 2px 16px 2px 0px;
}
.feed-link-rtl {
}
.strike {
  text-decoration: line-through;
}

/* Admin lists ****************************************************************/
.admin-menu-icon {
  float: left;
  padding: 5px;
}
.admin-menu { /* the box around the menu */
  padding: 5px;
  border: 1px solid #EEEEEE;
}
.admin-menu-text { /* the text below the links */
  padding: 5px;
}
.admin-menu-item { /* a single link in the menu */
  padding: 0px 5px 0px 5px;
}
.admin-list-table {
  width: 100%;
  text-align: left;
  border-spacing: 1px;
}
.admin-list-table form {
  margin: 0px;
}
.admin-list-search {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
.admin-list-field {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}
.admin-list-headerfield {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
/*  font-size: larger;*/
}

/******************************************************************************/
#token-expirynotice {
  padding:1em;
  border:1px solid #CCCCCC;
  background:#F7F7F7;
}
#token-expirytime {
  font-weight:bold;
}
.topicoption,
.topicoption-off {
}
.warning {
  background:transparent;
  color:#FF0000;
  font-weight:bold;
}
.warningsmall {
  background:transparent;
  color:#FF0000;
}

/* Default Plugin CSS Declarations */
/* Recommended CSS to be used by Plugin Authors - allows easier site themeing */

.plugin {
  border: 1px solid #CCCCCC;
  background: #EFEFEF;
  color: #000000;
  font-weight: normal;
}

.plugin th {
  padding: 5px;
  background: #B7C1DC;
  color: #000000;
  text-align: left;
}

.plugin tr {
  vertical-align: top;
}

.plugin td {
  padding: 2px 5px 2px 5px;
}

.pluginBG {
  background: #56728c;
  color: #FEFEFE;
}

.pluginAltBG {
  background: #7398BA;
}

.pluginAltBG td {
  color: #FFFFFF
}

.pluginCellTitle {
  padding: 5px;
  background: #56728c;
  color: #FFFFFF;
  font-weight: bold;
}

.pluginCellFill {
  background: #F8FAFD;
}

.pluginCellText {
  color: #636363;
  font-weight: normal;
}

.pluginHeader {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #204275;
  font-weight: bolder;
}

.pluginFooter,
.pluginFooter td {
  background: #507AA1;
  color: #FFFFFF;
}

.pluginAlert {
  padding: 5px 15px 5px 15px;
  background: #FEF1B4;
  color: #D8010E;
  font-weight: bold;
}

.pluginInfo {
  padding: 5px 15px 5px 15px;
  background: #FEF1B4;
  color: #707070;
  font-weight: normal;
}

.pluginSubTable {
  border: 1px solid #CCCCCC;
  background: #CCCCCC;
  color: #000000;
  font-weight: normal;
}

.pluginSubTable th {
  padding: 5px;
  background: #C9D1E4;
  color: #000000;
  text-align: left;
}

.pluginSubTable tr {
  vertical-align: top;
}

.pluginSolidOutline {
  background: #CCCCCC;
  text-align: left;
}

.pluginSolidOutline td.pluginRow1 div {
  overflow: auto;
  padding: 1px 0;
}

.pluginSolidOutline td.pluginRow1 div div {
  overflow: visible;
  padding: 0;
}

.pluginSolidOutline td.pluginCol {
  padding: 2px;
}

.pluginSolidFill {
  background: #1A3955;
}

.pluginTitle {
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  background: #507AA1;
  color: #F5F9FF;
}

.pluginCellSubTitle {
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  background: #F7F7F7;
  color: #000000;
}

.pluginTinyText {
  font-size: 0.70em;
}

.pluginSmallText {
  font-size: 0.8em;
}

.pluginMediumText {
  font-size: 1em;
}

.pluginLargeText {
  font-size: 1.25em;
}

.pluginAltText {
  color: #FFFFFF;
}

.pluginRow1, .pluginRow1 td {
  background: #F7F7F7;
  color: #000000;
  line-height: 120%;
}

.pluginRow2,
.pluginRow2 td {
  background: #E7E7E7;
  color: #000000;
  line-height: 120%;
}

.pluginRow1 .pluginRollOver,
.pluginRow2 .pluginRollOver,
.pluginRollOver {
  background: #FFFFFF;
  color: #000000;
  line-height: 120%;
}

.pluginRow1 .pluginRollOut,
.pluginRow2 .pluginRollOut,
.pluginRollOut {
  background: #F7F7F7;
  color: #000000;
  line-height: 120%;
}

.pluginLinks a:link {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.pluginLinks a:visited {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.pluginLinks a:hover {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}

.pluginBreadCrumbs,
.pluginBreadCrumbs a:link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.pluginBreadCrumbs a:visited {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.pluginBreadCrumbs a:hover {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

a.pluginButton:link,
a.pluginButton:visited {
  color: #000000;
  text-align: center;
  padding-top: 2px;
  display: block;
  height: 19px;
  text-decoration: none;
  background: transparent;
}

a.pluginButton:hover {
  color: blue;
  text-align: center;
  padding-top: 2px;
  background: url(navbar/images/button_over.gif) repeat-x 50% 50%;
  display: block;
  height: 19px;
  text-decoration: none;
}
