@charset "utf-8";

/*==============================================================================
  タイトル: 設定ページスタイル
  著者    : Fumito Arakawa as Phize (http://phize.net/)
  説明    : 設定ページのスタイルです。
  適用先  : preferences/displayprefs.thtml, preferences/displayblock.thtml,
            preferences/language.thtml, preferences/theme.thtml, preferences/commentblock.thtml,
            preferences/privacyblock.thtml, preferences/excludeblock.thtml,
            preferences/boxesblock.thtml, preferences/digestblock.thtml,
            preferences/profile.thtml, preferences/username.thtml, preferences/userphoto.thtml,
            preferences/deleteaccount.thtml
==============================================================================*/



/*--------------------------------------
  設定ページ
--------------------------------------*/

form#profile {
  width: 99%;
  margin-right: auto;
  margin-left: auto;
}

form#profile fieldset {
  margin: 0 0 1em 0;
  padding: 8px;
  border: 1px solid #000000;
}

form#profile fieldset legend {
  display: inline;
  padding: 2px 4px;
}

/* チェックリスト */
form#displayprefs p.checklist {
  margin: 0;
  padding: 0;
}

/* 入力フィールド */
form#displayprefs dl {
  margin-bottom: 0;
}

form#displayprefs dl dd input {
  margin-right: 2px;
}

/* ユーザ写真 */
form#profile dl dd.userphoto-photo img {
  display: block;
  margin: 8px;
}

/* 調整 */
form#profile br {
  display: none;
}
