@charset "utf-8";

/*==============================================================================
  タイトル: 
  著者    : 
  説明    : 
==============================================================================*/



/*==============================================================================
  [INFO] カスタムテーマスタイルシート(雛型)
         WAIproCSSver.2.3テーマをベースとしたカスタムテーマの作成を補助するCSSファイル(雛型)です。
         [BASE]部分で、WAIproCSSver.2.3テーマのサイトロゴ等のスタイルを初期化しています。
         背景色を変更される時は、出来る限りコントラストに配慮した配色をお願いします。         
==============================================================================*/

/*==============================================================================
  [BASE] WAIproCSSver.2.3テーマのサイトロゴ等のスタイルを初期化します。
==============================================================================*/

/*--------------------------------------
  [BASE] layout.css
---------------------------------------*/

/*----- ヘッダ -----*/
div#container div#header h1.site_name {
  width: auto;
  height: auto;
  background-image: none;
}

div#container div#header h1.site_name a,
div#container div#header h1.site_name a:link,
div#container div#header h1.site_name a:visited,
div#container div#header h1.site_name a:hover,
div#container div#header h1.site_name a:focus,
div#container div#header h1.site_name a:active {
  width: auto;
  height: auto;
  padding: 0;
  background-image: none;
}


/*----- フッタ -----*/
div#container div#footer {
  background-color: transparent;
  color: #000000;
}

div#container div#footer a,
div#container div#footer a:link,
div#container div#footer a:visited,
div#container div#footer a:hover {
  color: #0000ff;
}

div#container div#footer a:focus,
div#container div#footer a:active {
  color: #ff0000;
}


/*--------------------------------------
  [BASE] block.css
---------------------------------------*/

div#centerblocks p.welcome_msg,
div#leftblocks div.block-left,
div#rightblocks div.block-right {
  border: none;
}


/*==============================================================================
  WAIproCSSver.2.3テーマの背景を指定します。
  以下では、サンプルに例としてすべて背景色を白で設定しておりますが、
　変更される時は、出来る限りコントラストに配慮した配色及び
　レイアウトが判りやすい配色をお願いします。
　画像を使用される場合は、
　例) background: #ffffff url(images/custom/bg_body.png) repeat-x 0 0;
　のように記述してください。
==============================================================================*/

/*--- ページ全体の背景色を指定 ---*/
body {
  background-color: #ffffff;
}

/*--- 全体のカラムを囲っている背景色を指定 ---*/
div#container {
  background-color: #ffffff;
}

/*--- ヘッダの背景色及びヘッダの上部の色(全体のカラムを囲っている背景色と同色)を指定 ---*/
div#container div#header {
  background-color: #ffffff;
  border-top: 0.5em solid #ffffff;
}

/*--- ナビゲーションの背景色及び上下の線の色を指定 ---*/
div#container div#navigation {
  background-color: #ffffff;
  border-bottom: #ffffff;
  border-top: #ffffff;
}

/*--- フッタの背景色及び下部の色(全体のカラムを囲っている背景色と同色)を指定 ---*/
div#container div#footer {
  background-color: #ffffff;
  border-bottom: #ffffff;
}

/*--- 左ブロックの背景色を指定 ---*/
div#container div#wrapper div#carrier div#leftblocks {
  background-color: #ffffff;
}

/*--- 左ブロックの検索部分の背景色及び下の線の色を指定 ---*/
div#leftblocks div#block-left-search {
  background-color: #ffffff;
  border-bottom: #ffffff;
}

/*--- 右ブロックの背景色を指定 ---*/
div#container div#wrapper div#rightblocks {
  background-color: #ffffff;
}

/*--- アンケート内の背景色を指定 ---*/
div.poll-questions {
  background-color: #ffffff;
}


