/* CAPTCHA Plugin */

#captcha-form {
  padding:10px 0px 10px 0px;
}
#captcha-image{
  margin-right:25px;
}
#captcha-code {
  background:url(images/background.png) repeat-x;
  background-color:#CD3300;
  padding:7px 5px 5px 5px;
  border:#999 1px solid;
  width:210px;
  color:white;
}
#captcha-code input{
  margin:3px 2px 0px 0px;
  font-size:large;
  width:200px;
  background-color:white;
  color:grey;
}
.captcha_logview {
  font-family:"Courier New", Courier, monospace;
  margin:5px 15px;
}
.captcha_admin {
  padding:0px 10px;
}
.captcha_admin_body {
  background: #EEE;
  padding:5px 15px;
}