@charset "utf-8";

*{
 font-size:small;
}

/*--------------------------------------
  管理メニュー
--------------------------------------*/

/* メニュー有効時 */
p.adminoption {
  margin: 0;
  padding: 0;
}

/* メニュー無効時 */
p.adminoption_off {
  margin: 0;
  padding: 0;
}
