@charset "utf-8";

/*==============================================================================
  タイトル: 個別記事ページスタイル
  著者    : Fumito Arakawa as Phize (http://phize.net/)
  説明    : 個別記事ページのスタイルです。
  適用先  : article/article.thtml
==============================================================================*/



/*--------------------------------------
  個別記事ページ
--------------------------------------*/

/* トラックバック・ピングを送るリンク */
ul#send_trackback_link {
  list-style-position: outside;
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
}

ul#send_trackback_link li {
  margin: 0;
  padding: 0;
}

/* 関連情報 */
ul.list-whats-related {
  list-style-type: disc;
  margin: 0 0 0 8px;
  padding: 0;
}

ul.list-whats-related li {
  margin: 0;
  padding: 0;
}

/* 記事のオプション */
ul.list-story-options {
  list-style-type: disc;
  margin: 0 0 0 8px;
  padding: 0;
}

ul.list-story-options li {
  margin: 0;
  padding: 0;
}
