@charset "utf-8";

/*==============================================================================
  タイトル: ブロックスタイル
  著者    : Fumito Arakawa as Phize (http://phize.net/)
  説明    : 左ブロック・中央ブロック・右ブロック・その他ブロックのスタイルです。
            ブロックはサイト全体を通して使用されます。
  適用先  : header.thtml,
            blockheader.thtml, blockfooter.thtml, blockservices.thtml,
            blockheader-*.thtml, blockfooter-*.thtml
            (leftblocks.thtml, loginform.thtml, listitem.thtml)
==============================================================================*/



/*--------------------------------------
  共通スタイル
--------------------------------------*/

div#leftblocks ul,
div#leftblocks ol,
div#rightblocks ul,
div#rightblocks ol {
  padding-left: 0;
}



/*--------------------------------------
  リストアイテム
    ブロック内のリストです。
--------------------------------------*/

li.listitem {
  margin: 0;
  padding: 0;
}



/*--------------------------------------
  メッセージブロック
    システムメッセージ等です。
--------------------------------------*/

div#centerblocks div#block-message {
  margin: 2em 0;
  padding: 0;
  border: 1px solid #000000;
}

div#centerblocks div#block-message dl {
  margin: 0;
  padding: 0;
}

/* タイトル */
div#centerblocks div#block-message dl dt {
  margin: 0;
  padding: 8px;
  background: #1A3955 url(../images/css/bg_message_title.gif) repeat-x 0 0;
  color: #FFFFFF;
  font-weight: bold;
}

/* メッセージ */
div#centerblocks div#block-message dl dd {
  margin: 0;
  padding: 8px;
  background: #E7E7E7;
  font-weight: bold;
}



/*--------------------------------------
  関連情報ブロック
    個別記事ページの関連情報ブロックです。
--------------------------------------*/

/* ブロック */
div.block-related {
  margin: 0 0 2em 0;
  padding: 0;
}

/* ブロックタイトル */
div.block-related h3 {
  margin: 0 0 0.5em 0;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}

/* ブロックコンテンツ */
div.block-related div.block-related-content {
  margin: 0;
  padding: 0;
}



/*--------------------------------------
  中央ブロック
--------------------------------------*/

/* ウェルカムメッセージ */
div#centerblocks p.welcome_msg {
  margin: 0 0 2em 0;
  padding: 1em 0;
  border-bottom: 1px solid #CCC;
}

/* ウェルカムメッセージのリンク */
div#centerblocks p.welcome_msg a,
div#centerblocks p.welcome_msg a:link,
div#centerblocks p.welcome_msg a:visited {
}

div#centerblocks p.welcome_msg a:hover,
div#centerblocks p.welcome_msg a:focus,
div#centerblocks p.welcome_msg a:active {
}

/* ブロック */
div#centerblocks div.block-center {
  margin: 0 0 1em 0;
  padding: 0 0 2em 0;
  border-bottom: 1px solid #CCC;
}

/* ブロックタイトル */
div#centerblocks h2,
div#centerblocks h3,
div#centerblocks h4 {
  margin: 0 0 1em 0;
  padding: 0;
  font-weight: bold;
}

div#centerblocks div.block-center h2 {
  font-size: 125%;
}

div#centerblocks div.block-center h3 {
  font-size: 110%;
}

div#centerblocks div.block-center h4 {
  font-size: 100%;
}

/* ヘルプアイコン */
div#centerblocks h2 img,
div#centerblocks h3 img,
div#centerblocks h4 img {
  vertical-align: middle;
}

/* ブロックコンテンツ */
div#centerblocks div.block-center div.block-center-content {
  margin: 0;
  padding: 0;
}



/*--------------------------------------
  左ブロック
--------------------------------------*/

/* ブロック */
div#leftblocks div.block-left {
  margin: 0 8px 0.5em 8px;
  padding: 8px 0;
  border-bottom: 1px solid #E7E7E7;
}

/* ブロックタイトル */
div#leftblocks div.block-left h2 {
  margin: 0 0 0.5em 0;
  padding: 0;
  font-size: 110%;
  font-weight: bold;
}

/* ヘルプアイコン */
div#leftblocks div.block-left h2 img {
  vertical-align: middle;
}

/* ブロックコンテンツ */
div#leftblocks div.block-left div.block-left-content {
  margin: 0;
  padding: 0;
}



/*--------------------------------------
  右ブロック
--------------------------------------*/

/* ブロック */
div#rightblocks div.block-right {
  margin: 0 8px 0.5em 8px;
  padding: 8px 0;
  border-bottom: 1px solid #CCCCCC;
}

/* ブロックタイトル */
div#rightblocks div.block-right h2 {
  margin: 0 0 0.5em 0;
  padding: 0;
  font-size: 110%;
  font-weight: bold;
}

/* ヘルプアイコン */
div#rightblocks div.block-right h2 {
  vertical-align: middle;
}

/* ブロックコンテンツ */
div#rightblocks div.block-right div.block-right-content {
  margin: 0;
  padding: 0;
}
